<!DOCTYPE html>
<html>
<table class="display">
  <tr>
    <th>Sensor Reading</th>
    <th>Value</th>
  </tr>
  <tr>
    <td>Sensor 1</td>
    <td>{{ sensor1 }}</td>
  </tr>
  <tr>
    <td>Sensor 2</td>
    <td>{{ sensor2 }}</td>
  </tr>
  <tr>
    <td>Sensor 3</td>
    <td>{{ sensor3 }}</td>
  </tr>
</table>
<form class="display">Sensor 1:<input type="text" name="sensor1">
    <input type="submit" value="Submit">
</form>
<form class="display">Sensor 2:<input type="text" name="sensor2">
    <input type="submit" value="Submit">
</form>
<form class="display">Sensor 3:<input type="text" name="sensor3">
    <input type="submit" value="Submit">
</form>
</html>
